

address {
  colour: rgba(255,0,128,.85);
}

body {
  background-color: 0;
  border: 0px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

div {
 background-color: 0;
 overflow: hidden;
 }

h1 {
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-kerning: auto;
  font-size: 1.75rem;
  font-weight: 200;
  padding-bottom: 1px;
  text-shadow: 0px 0px 7px #858585;
  transform: translateX(0px);
  transform: translateY(0px);
  margin-bottom: auto;
  }

h1.creativeCutandColor {
  background-color: rgba(255, 0, 128, 0.75);
margin-top: 0;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 7%;
  /*text-shadow: 0px 0px 4px rgba(0,0,0,0.6);*/
  color: White;
}

h2 {
  font-size: 1.1rem;
  margin: 0px;
  }

p {
  padding-top: 0;
}

p.gridPhone {
  margin: 0px;
}

hr {
  border-style: none;
  border-top: 1.5px solid rgba(255,0,128,0.855);
  height: .5px;
  width: 65%;
  /*border-color: #144d53;*/
    }

form {
  display: inline-block;
  position: relative;
  text-align: center;
  /* width: 1fr; */
  height: 25px;
  padding; 0;
  }

form input {
  width: 85%;
/*  margin-right: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(255, 0, 128);
  }

button {
  border: 1px solid rgb(255, 0, 128);
  border-radius: 3px;
  background-color: rgba(255,0,128,0.75);
  color: white;
  height: 27px;
  width: 150px;
  text-align: center;
  font-size: .85rem;
}

button:hover {
  background-color: white;
  border-color: rgba(255,0,128,0.75);
  color: rgba(255,0,128,0.75);
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  text-decoration: none;
}

input {
  border: 0;
  height: 25px;
  padding: 0;
}

section {
  background-color: rgb(253,249,246);
}

header {
  display: flex;
  box-sizing: border-box;
  background-image: url(../images/GlassChandelierBG.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom: 1px solid rgb(255,0,128);
  height: 50px;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 8px;
  padding-bottom: 8px;
  }

.headerIcons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  }

.facebookIconHeader {
  margin-left: auto;
  padding-top: 2px;
  text-shadow: 0px 0px 5px white;
  text-shadow: 0px 0px 3px rgba(255,0,128,0.5);
}

.instaIconHeader {
  padding-top: 2px;
  text-shadow: 0px 0px 3px rgba(255,255,255,1);
  }

.vibrantHome {
  align-self: center;
  justify-content: center;
}

.home {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  padding: 10px 5px;
}

.home:hover {
  text-shadow: 0px 0px 5px rgba(0,0,0,0);
}

.gallery {
  height: 245px;
  background-color: rgb(255,0,128);

}

.wrapper {
  max-width: 992px;
  margin: 0 auto;
  border: 1px solid rgba(255,0,128,0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3px;
  grid-column-gap: 5%;
  background-color: rgb(253,249,246);
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 992px;
}

.galleryContainer {
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: auto auto auto;
  padding-top: 0px;
  }

.landingBody {
  background-image: url(../images/GlassChandelierBG.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -50px;
  padding-top: 85px;
  padding-bottom: 80px;
  text-align: center;
  position: relative;
}

/*.landingBody img {
  transform: translateX(25px);
}*/

.addressBanner {
  color: white;
  background-color: rgba(255,0,128,0.8);
  font-size: 1.3rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  height: 40px;
  padding-top: 18px;
  px;
}

:link {
  color: #FFF;
  text-decoration: none;
  }

a:visited {
    color: #FFF;
    text-decoration: none;
    }

a:hover {
  color: rgba(255,0,128,.85);
}

.item1, .item2, .item3 {
  padding: 0px;
  }

.item8, .item7, .item9 {
  max-height: 250px;
  padding-top: 0;
  padding-bottom: 10px;
  font-size: .95rem;
  font-weight: 200;
  color: #404040;
}

.item7 {
  text-align: center;
  overflow: hidden;
}

.alison-photo {
  border-radius: 18px;
  transform: scaleX(-1);
  border: 1.5px solid rgba(255,0,128,0.2);
}

.item9 {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  margin: 0 10px;
  text-align: left;
}

*.time {
  text-align: right;
  padding-right: 15px;
}

.item10 {
  text-align: left;
  padding-left: 15px;
  font-size: .9rem;
}

.booknow-button {
  box-sizing: border-box;
  margin: 0 10px;
}

.copyright {
  background-image: url(../images/GlassChandelierBG.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-top: solid 1px;
  color: white;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.75);
  font-size: .7em;
  height: 30px;
  padding: 14px 4% 8px 4%
  /*padding-top: 14px;
  padding-bottom: 8px;
  padding-left: 4%;
  padding-right: 4%;*/
      /*  height: 20px;
  padding: 20px;
  /* display: inline-block; */
}

@media only screen and (max-width: 992px) {
  .landingBody {
    background-size: 992px;
    }
